<ion-header>
  <app-navbar [pageTitle]="pageTitle"></app-navbar>
</ion-header>
  
<ion-content>
    <ion-list lines="full">
      <ion-item *ngFor="let product of products" (click)="viewProduct(product)">
        <ion-thumbnail slot="start" style="height: 6rem; width: 6rem; margin-right: 0.5rem;">
          <ion-img [src]="product.pictures" [alt]="product.name" class="imageRadius"></ion-img>
        </ion-thumbnail>
        <ion-grid class="pt-2">
          <ion-row>
            <ion-text color="dark">
              <p class="productNameSize m-0">
                {{product.name}}
              </p>
            </ion-text>
          </ion-row>
          <ion-row>
            <ion-text color="medium" style="height: 3rem; overflow: hidden;">{{(product.description.length > 59)? (product.description | slice:0:59)+'...':product.description}}</ion-text>
          </ion-row>
          <ion-row>
            <ion-text color="secondary" >
              <h5 class="m-0">
                {{product.price | currency}}
              </h5>
            </ion-text>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-content>