<ion-header>
  <app-navbar [pageTitle]="pageTitle"></app-navbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-checkbox slot="start" (ionChange)="changeProductsDisplay()" [(ngModel)]="displayProductsForEveryUser">
    </ion-checkbox>
    <ion-label>Ver productos de todos los usuarios</ion-label>
  </ion-item>
  <ion-list class="toAdd" *ngIf="cart.products.length > 0">
    <ion-item-group lines="full">
      <ion-item lines="full" class="cartItem">
        <ion-label color="medium" class="cartLabel">En tu carrito</ion-label>
      </ion-item>
      <ion-item-sliding *ngFor="let product of cart.products, let i = index" style="padding-top: 1rem;">
        <!-- <ion-item-options side="start" class="ion-margin-top">
          <ion-item-option (click)="favorite(item)">Favorite</ion-item-option>
          <ion-item-option color="danger" (click)="share(item)">Share</ion-item-option> -->
        <!-- </ion-item-options> -->

        <ion-item lines="full">
          <ion-label color="secondary" class="mt-0" style="margin-top: .7rem!important;">
            {{ (product.name.length > 15)? (product.name | slice:0:15)+'...':product.name }}
            <span *ngIf="(product.options.length === 1)">+ {{ product.options.length }} adicional</span>
            <span *ngIf="(product.options.length >1)">+ {{ product.options.length }} adicionales</span>
          </ion-label>
          <ion-text style="padding-left: 2rem; padding-right: 2rem;">
            <h2 class="price pull-left">
              <span ion-text color="primary">${{ product.price }}</span>
              <span>x {{ product.quantity }}</span>
            </h2>
          </ion-text>
          <ion-button shape="round" fill="outline" color="primary" class="button-qty pull-right" (click)="minusQty(product)">
            <ion-icon name="remove" style="font-size: 2rem;"></ion-icon>
          </ion-button>
          <ion-button shape="round" color="secondary" class="button-qty pull-right" (click)="plusQty(product)">
            <ion-icon name="add"  style="font-size: 2rem;"></ion-icon>
          </ion-button>
          <div class="clear"></div>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option (click)="removeProduct(i)">
            <ion-icon name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
  <ion-list *ngIf="usersToDisplayProducts.length > 0">
    <ion-item-group>
      <ion-item lines="full" class="cartItem">
        <ion-label color="medium" class="cartLabel">Ya pedidos</ion-label>
      </ion-item>
      <ng-container *ngFor="let user of usersToDisplayProducts">
        <ion-item lines="full" *ngFor="let product of user.products, let i = index">
          <ion-avatar slot="start" *ngIf="displayProductsForEveryUser">
            <img [src]="'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y'">
          </ion-avatar>
          <ion-label color="secondary" class="productNameLabel">
            {{ product.name }}
            <span *ngIf="(product.options.length === 1)">+ {{ product.options.length }} adicional</span>
            <span *ngIf="(product.options.length >1)">+ {{ product.options.length }} adicionales</span>
          </ion-label>
          <div>
            <h2 class="price pull-left inOrderPrice">
              <span ion-text color="primary">${{ product.price }}</span>
              <span>x {{ product.quantity }}</span>
            </h2>
          </div>
        </ion-item>
      </ng-container>
    </ion-item-group>
  </ion-list>
</ion-content>
<ion-footer class="backgroundWhite">
  <ion-toolbar color="none backgroundWhite">
    <ion-item lines="full" class="totalFooter backgroundWhite">
      <ion-title class="totalTitle">
        <ion-text color="secondary">Total</ion-text>
      </ion-title>
      <ion-text class="finalPriceText" color="secondary">${{ cart.total }}</ion-text>
    </ion-item>
    <!-- <ion-item class="pt-1 pb-1 backgroundWhite" lines="none"> -->
      <ion-button *ngIf="cart.products.length > 0" (click)="confirmOrder()" color="secondary" expand="block"
        shape="round" class="buttonSendPay">ENVIAR PEDIDO
      </ion-button>
      <ion-button   class="buttonSendPay" *ngIf="cart.products.length === 0" (click)="showPaymentPage()" color="secondary" expand="block"
        shape="round">REALIZAR PAGO
      </ion-button>
    <!-- </ion-item> -->
  </ion-toolbar>
</ion-footer>