.submit-button
{
  margin: 0px;
  margin-top: 20px;
  border-radius: 6px;
  color: #FFFFFF;
  background-color: #00e9d5;
  font-size: 1.6rem;
  font-weight: 500;
}

.facebook-button
{
  margin: 0px;
  border-radius: 6px;
  color: #ffffff;
  background-color: #3b5998;
  font-size: 1.6rem;
  font-weight: 500;
}

.google-button
{
  margin: 0px;
  margin-top: 20px;
  border-radius: 6px;
  color: #ffffff;
  background-color: #cc181e;
  font-size: 1.6rem;
  font-weight: 500;
}