<ion-content padding class="form-content loginContent">

  <ion-img style="margin-top: 2rem;" [src]="'../../assets/login1.png'"></ion-img>
  <div style="margin-top: 6rem;">
    <ion-button expand="block" shape="round" class="danger" (click)="tryGoogleLogin()">CONTINUAR CON GOOGLE</ion-button>
    <ion-button expand="block" shape="round" color="facebook" (click)="tryFacebookLogin()">CONTINUAR CON FACEBOOK</ion-button>
  </div>

  <ion-item-divider style="background-color: #fff0db">
  </ion-item-divider>
    <ion-text color="dark" (click)="goAppLoginPage()">
        <p style="text-align: center;">
          <a style="color: red;">Más opciones</a>
        </p>
    </ion-text>
</ion-content>