<ion-header>
  <app-navbar [pageTitle]="pageTitle"></app-navbar>
</ion-header>

<ion-content>
  <div>
    <ng-container *ngFor="let category of categories; let i = index">
      <div class="screen customCard" (click)="viewCategory(category)" [class.screen-50]="numberOfCategories <= 2"
        [class.screen-33]="numberOfCategories === 3" [class.screen-25]="numberOfCategories > 3"
        [ngStyle]="{'background-image': 'url(' + category.picture + ')'}">
      </div>
      <div [class.cardFooterOdd]="i % 2 !== 0" [class.cardFooterEven]="i % 2 === 0">
        <p class="itemTitle">{{category.name | uppercase}}</p>
      </div>
    </ng-container>
  </div>
</ion-content>