// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #e43012;
  --ion-color-primary-rgb: 228,48,18;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #c92a10;
  --ion-color-primary-tint: #e7452a;

  /** secondary **/
  --ion-color-secondary: #718239;
  --ion-color-secondary-rgb: 113,130,57;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #637232;
  --ion-color-secondary-tint: #7f8f4d;

  /** tertiary **/
  --ion-color-tertiary: #f8b12f;
  --ion-color-tertiary-rgb: 248,177,47;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #da9c29;
  --ion-color-tertiary-tint: #f9b944;

  /** success **/
  --ion-color-success: #718239;
  --ion-color-success-rgb: 113,130,57;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #637232;
  --ion-color-success-tint: #7f8f4d;

  /** warning **/
  --ion-color-warning: #f8b12f;
  --ion-color-warning-rgb: 228,48,18;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #da9c29;
  --ion-color-warning-tint: #f9b944;

  /** danger **/
  --ion-color-danger: #e43012;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #c92a10;
  --ion-color-danger-tint: #e7452a;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  
  /** background **/
  --ion-background-color:#fff0db;
  
  /**menú desplegable**/
  --ion-toolbar-background:#718239;
  --ion-toolbar-color:#fff;
  
}


@import url('https://fonts.googleapis.com/css?family=Spinnaker&display=swap');
*{
	font-family: 'Spinnaker', sans-serif;

}