/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.screen{
    background-image:url("https://bucket3.glanacion.com/anexos/fotos/85/cerdo-2691685w620.jpg");
    margin-bottom: .5rem;
    background-size: cover;
}

.screen-50{
    height: calc(calc(100vh - 100px)/2);
}

.screen-33{
    height: calc(calc(100vh - 100px)/3);
}

.screen-25{
    height: calc(calc(100vh - 100px)/4);
}

.overlay {
    margin: 0px;
    z-index: 1;
    position: absolute;
    height: inherit;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemTitle{
    font-size: 2.5rem;
    color:white;
    font-family: 'Raleway', sans-serif;
}

.float-left{
    float: left;
}

.float-right{
    float:right;
}

.full-width{
    width: 100vw;
}

.icon-size{
    font-size: 1.25rem;
}




.sizesAlert{
    .alert-head{
        border-bottom: solid 1px lightgray;
    }

    .alert-message{
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
    }
}

.no-padding-top{
    padding-top: 0;
}

.no-padding-bottom{
    padding-bottom: 0;
}

.divider-padding{
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: 1rem;
}