<ion-header>
  <app-navbar [pageTitle]="pageTitle"></app-navbar>
  <div *ngIf="showQR" style="
    opacity: 1;
    background-color: #2e3648;
    height: 5rem;
    margin-top: 0;
    color: white;
    text-align: center;
">
    <p style="
    background-color: #2e3648;
    opacity: 1;
    margin: 0;
    padding-top: 1.3rem;
">Escanea el qr de tu mesa para empezar a usar Bonapp y hacer tu pedido!</p>
  </div>
</ion-header>
<ion-content [class.cameraView]="showQR">
  <div *ngIf="!(numberOfMenus === 1)">
    <ng-container *ngFor="let menu of menus; let i = index">
      <ion-card (click)="viewMenu(menu)"
        style="margin-top: 2rem; margin-bottom: 2rem; margin-left: 1rem; margin-right: 1rem; border-top-left-radius: 4%; border-top-right-radius: 4%;">
        <img class="screen customCard" style="margin:0!important;" [class.screen-50]="numberOfMenus === 2"
          [class.screen-33]="numberOfMenus === 3" [class.screen-25]="numberOfMenus > 3" src="{{menu.picture}}">
        <ion-card-header style="margin:0!important; padding: 0!important;" [class.cardFooterOdd]="i % 2 !== 0"
          [class.cardFooterEven]="i % 2 === 0">
          <ion-card-title class="itemTitle">{{menu.name | uppercase}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ng-container>

    <ng-container *ngIf="numberOfDailyMenus > 0">
      <ion-card (click)="viewDailyMenus()"
        style="margin-top: 2rem; margin-bottom: 2rem; margin-left: 1rem; margin-right: 1rem; border-top-left-radius: 4%; border-top-right-radius: 4%;">
        <img class="screen customCard" style="margin:0!important;" [class.screen-50]="numberOfMenus === 2"
          [class.screen-33]="numberOfMenus === 3" [class.screen-25]="numberOfMenus > 3" src="{{dailyMenusPicture}}">
        <ion-card-header style="margin:0!important; padding: 0!important;" [class.cardFooterOdd]="i % 2 !== 0"
          [class.cardFooterEven]="i % 2 === 0">
          <ion-card-title class="itemTitle">{{dailyMenuText | uppercase}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ng-container>
  </div>

  <div *ngIf="numberOfMenus === 1">
    <ng-container *ngFor="let category of categories; let i = index">
      <ion-card (click)="viewCategory(category)"
        style="margin-top: 2rem; margin-bottom: 2rem; margin-left: 1rem; margin-right: 1rem; border-top-left-radius: 4%; border-top-right-radius: 4%;">
        <img class="screen customCard" style="margin:0!important;" [class.screen-50]="numberOfCategories === 2"
          [class.screen-33]="numberOfCategories === 3" [class.screen-25]="numberOfCategories > 3"
          src="{{category.picture}}">
        <ion-card-header style="margin:0!important; padding: 0!important;" [class.cardFooterOdd]="i % 2 !== 0"
          [class.cardFooterEven]="i % 2 === 0">
          <ion-card-title class="itemTitle">{{category.name | uppercase}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ng-container>
    <ng-container *ngIf="numberOfDailyMenus > 0">
      <ion-card (click)="viewDailyMenus()"
        style="margin-top: 2rem; margin-bottom: 2rem; margin-left: 1rem; margin-right: 1rem; border-top-left-radius: 4%; border-top-right-radius: 4%;">
        <img class="screen customCard" style="margin:0!important;" [class.screen-50]="numberOfCategories === 2"
          [class.screen-33]="numberOfCategories === 3" [class.screen-25]="numberOfCategories > 3"
          src="{{dailyMenusPicture}}">
        <ion-card-header style="margin:0!important; padding: 0!important;" [class.cardFooterOdd]="i % 2 !== 0"
          [class.cardFooterEven]="i % 2 === 0">
          <ion-card-title class="itemTitle">{{dailyMenuText | uppercase}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ng-container>
  </div>
</ion-content>