<ion-header>
  <app-navbar [pageTitle]="pageTitle"></app-navbar>
</ion-header>
<ion-content>
  <div *ngIf="!(numberOfMenus === 1)">
    <ng-container *ngFor="let menu of menus; let i = index">
      <div class="screen customCard" (click)="viewMenu(menu)" [class.screen-50]="numberOfMenus === 2"
        [class.screen-33]="numberOfMenus === 3" [class.screen-25]="numberOfMenus > 3" [ngStyle]="{'background-image': 'url(' + menu.picture + ')'}">
      </div>
      <div class="cardFooter" [class.cardFooterOdd]="i % 2 !== 0" [class.cardFooterEven]="i % 2 === 0">
        <p class="itemTitle">{{menu.name | uppercase}}</p>
      </div>
    </ng-container>
  </div>

  <div *ngIf="numberOfMenus === 1">
    <ng-container *ngFor="let category of categories; let i = index">
      <div class="screen customCard" (click)="viewCategory(category)"
        [class.screen-50]="numberOfCategories === 2" [class.screen-33]="numberOfCategories === 3"
        [class.screen-25]="numberOfCategories > 3"
        [ngStyle]="{'background-image': 'url(' + category.picture + ')'}">
      </div>
      <div [class.cardFooterOdd]="i % 2 !== 0" [class.cardFooterEven]="i % 2 === 0">
        <p class="itemTitle">{{category.name | uppercase}}</p>
      </div>
    </ng-container>
  </div>
</ion-content>