<ion-header>
  <app-navbar [pageTitle]="pageTitle"></app-navbar>
</ion-header>
<ion-content>
  <ion-searchbar (click)="searchProduct()"></ion-searchbar>

  <div *ngIf="!(numberOfMenus === 1)">
    <div *ngFor="let menu of menus" class="screen" (click)="viewMenu(menu)" [class.screen-50]="numberOfMenus === 2"
      [class.screen-33]="numberOfMenus === 3" [class.screen-25]="numberOfMenus > 3">
      <div class="overlay">
        <p class="itemTitle">{{menu.name | uppercase}}</p>
      </div>
    </div>
  </div>

  <div *ngIf="numberOfMenus === 1">
    <div *ngFor="let category of categories" class="screen" (click)="viewCategory(category)"
      [class.screen-50]="numberOfMenus === 2" [class.screen-33]="numberOfMenus === 3"
      [class.screen-25]="numberOfMenus > 3">
      <div class="overlay">
        <p class="itemTitle">{{category.name | uppercase}}</p>
      </div>
    </div>
  </div>
</ion-content>