<ion-header class="header">    
  <app-navbar [pageTitle]="pageTitle"></app-navbar>
</ion-header>

<ion-content padding class="form-content">
  <form class="form" [formGroup]="registerForm" (ngSubmit)="createUser(registerForm.value)">

    <ion-item>
      <ion-label floating>Nombre</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Apellido</ion-label>
      <ion-input type="text" formControlName="lastname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Contraseña</ion-label>
      <ion-input type="password" formControlName="password" class="form-controll"></ion-input>
    </ion-item>

    <button ion-button block class="submit-button" type="submit">Registrarse</button>
    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
    <br>
    <div>
      <p>Ya tienes una cuenta? <a (click)="goLoginPage()">Iniciar sesión</a></p>
    </div>
    <br>
  </form>
</ion-content>
