<ion-header class="header">
  <app-navbar [pageTitle]="pageTitle"></app-navbar>
</ion-header>

<ion-content padding class="form-content">
  <form class="form" [formGroup]="registerForm" (ngSubmit)="createUser(registerForm.value)">
    <ion-text style="text-align: center">
      <p>
        Completa los siguientes datos para poder empezar a usar Bonapp! 
      </p>
    </ion-text>
    <br>

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" formControlName="lastname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button style="margin-top: 3rem" shape="round" expand="block" color="secondary" type="submit">REGISTRATE
    </ion-button>
    <ion-text class="error-message">{{errorMessage}}</ion-text>
    <label class="success-message">{{successMessage}}</label>
    <br>

    <ion-item lines="none">
      <ion-text style="font-size: 0.8rem">
        <p>Ya tienes una cuenta? <a (click)="goLoginPage()" style="color: red;">Iniciar sesión</a></p>
      </ion-text>
    </ion-item>
    <br>
  </form>
</ion-content>